.Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: auto;
  overscroll-behavior: contain;
  background-color: rgba(255, 255, 255, 0.9);
  will-change: opacity;
}

.closeButton {
  position: absolute !important;
  top: 2em;
  right: 2em;
}

.touchGuard {
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: -1;
}

.Modal--entering {
  animation: enterAnimation linear 180ms both;
}

.Modal--entered {
  opacity: 1;
}

.Modal--exiting {
  animation: exitAnimation linear 180ms both;
}

.Modal--exited {
  opacity: 0;
}

@keyframes enterAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes exitAnimation {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
