.Heading {
  font-weight: bold;
  line-height: 1em;
  color: var(--black);
  margin-top: var(--gap-paragraph);
  line-height: 1.5em;
  border-bottom: solid 0.2em var(--yellow);
}

h1.Heading {
  font-size: 2rem;
  margin-top: 3rem;
}

h2.Heading {
  font-size: 1.75rem;
}

h3.Heading {
  font-size: 1.5rem;
}

h4.Heading {
  font-size: 1rem;
}

h5.Heading {
  font-size: 1rem;
  background: none;
}

h6.Heading {
  font-size: 1rem;
  background: none;
}
