@use "styles/breakpoints.scss" as *;

.WorkCard {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 0;

  @include breakpoint(sp) {
    flex-direction: column;
  }
}

.invert {
  @include breakpoint(pc) {
    flex-direction: row-reverse;
  }
}

.WorkCard > * {
  @include breakpoint(pc) {
    width: 50%;
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  transform: scale(1.1);

  @include breakpoint(pc) {
    filter: brightness(0.8) blur(0.5rem);
  }

  @include breakpoint(sp) {
    filter: blur(0.5rem);
  }
}

.backgroundBlur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  @include breakpoint(sp) {
    background-color: var(--white);
    opacity: 0.8;
  }
}

.tag {
  margin-left: 0.5em;

  &:before {
    content: "#";
  }

  &:first-child {
    margin-left: 0;
  }
}

.description {
  margin: 3rem;

  z-index: 1;

  @include breakpoint(pc) {
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 30rem;
    flex: 1 0;
    text-align: center;
  }

  @include breakpoint(sp) {
    margin-bottom: 0;
  }
}

.image {
  display: block;
  margin: 3rem;

  @include breakpoint(pc) {
    max-width: 30rem;
    flex: 1 0;
    text-align: center;
  }

  @include breakpoint(sp) {
    width: unset;
    margin-top: 1.5rem;
  }
}
