@use "../../../../styles/breakpoints.scss" as *;

.Footer {
  position: relative;
  display: flex;
  margin-top: 4rem;
  padding: 2rem;
  background-color: var(--black);

  @include breakpoint(sp) {
    flex-direction: column;
  }
  @include breakpoint(pc) {
    justify-content: flex-end;
  }
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--lightgray);

  @include breakpoint(sp) {
    text-align: center;
  }
  @include breakpoint(pc) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.nav {
  color: var(--white);
  line-height: 1.5em;

  @include breakpoint(sp) {
    margin-top: 2rem;
    text-align: center;
  }

  @include breakpoint(pc) {
    text-align: right;
  }
}

.navItem {
}
