.ArticleBody {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    line-height: 1em;
    color: var(--black);
    margin-top: var(--gap-paragraph);

    &:after {
      display: block;
      width: 100%;
      height: 2px;
      background-color: var(--lightgray);
      content: "";
    }
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
    background: none;
  }

  h6 {
    font-size: 1rem;
    background: none;
  }

  p {
    margin-top: 1rem;
  }

  img {
    display: block;
    margin: 1rem;
    border: solid 2px var(--lightgray);
    padding: 1rem;
    background-color: var(--white);
    float: inline-end;
  }

  img:before {
    content: url("../../../ui/IconicOneTimeLineAnimation/animation.svg");
  }

  img:after {
  }
}
