:root {
  --black: #3d3d5c;
  --gray: #a2a2c2;
  --lightgray: #ececf4;
  --white: #fff;
  --blue: #2f2fff;
  --yellow: #ffd600;
  --red: #ff1d7e;

  --white-transparent: rgba(255, 255, 255, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #2d2d42;
    --lightgray: #a2a2c2;
    --gray: #ececf4;
    --black: #fff;
    --blue: #2f2fff;
    --yellow: #ffd600;
    --red: #ff1d7e;

    --white-transparent: rgba(45, 45, 66, 0.8);
  }
}
